# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/
.venv/

# macOS
.DS_Store

# Local databases
*.db
*.sqlite
*.sqlite3

# Environment variables
.env

# IDE
.vscode/
.idea/

# Testing/cache
.pytest_cache/